
    <header class="headerAa">
      <nav class="headerAa-menu">
        <ul class="headerAa-menu-list">
          <li class="headerAa-menu-list-item">
            <a href="http://agilealliance.org/pt/">Agile Alliance</a>
          </li>

          <li class="headerAa-menu-list-item">
            <a href="http://agilealliance.org/pt/membresia/">Membros</a>
          </li>

          <li class="headerAa-menu-list-item logo">
            <a href="{{i18n 'aa_bar.logoLink'}}">
              <img src="assets/img/logoAgileAlliance.png" alt="{{i18n 'aa_bar.logoAlt'}}">
            </a>
          </li>

          <li class="headerAa-menu-list-item">
            <a href="{{i18n (translated_path_key)}}">{{i18n 'aa_bar.setLang-title'}}</a>
          </li>
        </ul>
      </nav>
    </header>
